
<div class="row" id="active-postings">
   {{!-- for each handlebar method  --}}
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">service title: </span>
                    <div class="card-content">
                        <ul>
                            <li>service text: <button>edit</button></li>
                            <li>service type: <button>edit</button></li>
                            <li>pet type: <button>edit</button></li>
                            <li>pet size: <button>edit</button></li>
                            <li>duration: <button>edit</button></li>
                            <li>cost: <button>edit</button></li>
                        </ul>
                    </div>
                </div>
                <div class="card-action">
                    <button>save posting</button>
                    <button>delete posting</button>
                </div>
            </div>
        </div>
   
</div>