{{!-- CREATE A CAT --}}
<div class="add-cat-page">
    <h2>cats</h2>
    {{!-- cat name --}}
        <form >
            <label for="cat-name">what is the name?</label>
                <input type="text" name="cat-name" id="cat-name" placeholder="name"> 
        </form>
        <br>

        {{!-- cat breed --}}
        <form>
            <label for="cat-breed">what breed?</label>
                <input type="text" name="cat-breed" id="breed" placeholder="breed"> 
            <br>
        </form>
        <br>

        {{!-- cat size --}}
        <form >
        <label for="cat-size">what is the size of your cat</label>
            <input list="cat-size-list" name="cat-size-list" id="cat-size">
            <datalist id="cat-size-list">
                <option value="petit kitty (0-15lbs)">
                <option value="medium kitty (15lbs-25lbs)">
                <option value="large kitty (25lbs-40lbs)">
            </datalist>    
        </form>
        <br>

        {{!-- cat age --}}
        <form >
            <label for="cat-age">what is the age?</label>
                <input type="text" age="cat-age" id="cat-age" placeholder="age"> 
        </form>
        <br>

        {{!-- cat temperment --}}  
        <form>
            <label for="cat-temperment">cat temperment</label>
                <input list="cat-temperment-list" name="cat-temperment-list" id="cat-temperment">
                <datalist id="cat-temperment-list">
                    <option value="friendly">
                    <option value="aggressive">
                    <option value="calm">
                    <option value="nervous">
                </datalist> 
        </form> 
        <br>

        {{!-- cat special care --}}
        <form >
            <label for="cat-care">are there any special care items for your pet?</label>
                <input type="text" name="cat-care" id="cat-care" placeholder="special care"> 
        </form>
        <br>

        {{!-- submit cat --}}
        <form>
            <input type="submit" value="submit" id="add-cat-form">
        </form>
</div>
