<div class="row" id="booked-postings">
   {{!-- for each handlebar method  --}}
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">listing name: </span>
                    <div class="card-content">
                        <div>include listing info</div>
                            <ul>
                                <li>service text: </li>
                                <li>service type: </li>
                                <li>pet type: </li>
                                <li>pet size: </li>
                                <li>duration: </li>
                                <li>cost: </li>
                                <li>booked by: </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
</div>