
<div class="row" id="pet-family">
   {{!-- for each handlebar method  --}}
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">name: </span>
                    <div class="card-content">
                        <ul>
                            <li>breed: <button>edit</button></li>
                            <li>size: <button>edit</button></li>
                            <li>temperment: <button>edit</button></li>
                            <li>special care: <button>edit</button></li>
                        </ul>
                    </div>
                </div>
                <div class="card-action">
                    <button data-id={{id}} id="save-pet">save pet</button>
                    <button data-id={{id}} id="delete-pet">delete pet</button>
                </div>
            </div>
        </div>
</div>