<!DOCTYPE html>
<html lang="en">

<head>
  <title>paws life</title>
  <meta name="description" content="A two-sided exchange community for providing or procuring private pet care services." />
  <meta name="title" property="og:title" content="paws life" />
  <meta property="og:type" content="website" />
  <meta name="image" property="og:image" content="https://flic.kr/p/2kfshNW" />
  <meta name="description" property="og:description" content="A screenshot of Pawslife's marketplace" />
  <meta name="author" content="Nicole, Evan, Michael, Ricky" />
  <meta charset="UTF-8">
  <meta name="description" content="An echange app for pet owners and private pet service providers" />
  <meta name="title" property="og:title" content="Paws Life" />
  <meta property="og:type" content="website" />
  <meta name="image" property="og:image" content="https://flic.kr/p/2kfshNW" />
  <meta name="description" property="og:description" content="Preview of Paws Life market" />
  <meta name="author" content="Nicole R., Evan P., Michael R., Ricky G." />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {{!-- font awesome kit  --}}
  <script src="https://kit.fontawesome.com/956330d85a.js" crossorigin="anonymous"></script>
  {{!-- style sheet  --}}
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>

<body>

  {{!-- nav bar  --}}
  <nav class="nav-extended">
    <div class="nav-wrapper" id="navwrapper">
      <a href="#" class="brand-logo" id="navphoto"><img src="../../../assets/images/pawslogoupdate.png" alt="paws life logo"
          height="80px" srcset=""></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/signin"><i class="fas fa-paw"></i> sign in</a></li>
        <li><a href="/createaccount"><i class="fas fa-pen-fancy"></i> create account</a></li>
        <li><a href="/user/owner"><i class="fas fa-user-astronaut"></i> my account</a></li>
        <li><a href="/logout" id="logout"><i class="fa fa-unlock"></i> log out</a></li>
        <li><a href="/"><i class="fas fa-house-user"></i> home</a></li>
      </ul>
    </div>
    <div class="nav-content"></div>
    <h4></h4>
    </div>
  </nav>

  {{!-- sliding nav bar  --}}
  <ul id="slide-out" class="sidenav">
    <li>
      <div class="user-view">
        <br>
        <br>
        <div class="background">
          <img src="../../../assets/images/pawslogoupdate.png" width="300px">
        </div>
      </div>
    </li>
    <li><a href="/"><i class="fas fa-house-user"></i> home</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a href="/signin"><i class="fas fa-paw"></i> sign in</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a href="/createaccount"><i class="fas fa-pen-fancy"></i> create account</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a href="/user/owner"><i class="fas fa-user-astronaut"></i> my account</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a href="/logout" id="logout"><i class="fa fa-unlock"></i> log out</a></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger side-nav-text"><i class="side-nav-menu">menu</i></a>

  <div>
    <div class="row">
      <div class="col s12 l8" id="petbanner">
      </div>
      <div class="col l3">
        <img class="hide-on-med-and-down" src="../../../assets/images/pawslifetransparency.png"
          style="margin-top: 0.5rem;" alt="puppy wash" height="300px">
      </div>
    </div>
    <hr>
  </div>
  <div class="row">
    <img class="hide-on-large-only" src="../../../assets/images/pawslifetransparency.png"
      style="margin-top: -10rem; margin-bottom: -5rem;" alt="puppy wash" height="200px">
  </div>




  {{{ body }}}

  {{!-- footer  --}}
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col s12 l6">
          <img src="../../../assets/images/pawslogoupdate.png" height="55px" alt="PawslifeLogo">
          <span class="grey-text text-lighten-4">we paws life so you don't have to.</span>
        </div>

        <div class="col l3 s6 flex center-align">
          <h5 class="white-text"><i class="fab fa-github-alt"></i> Github</h5>
          <a class="grey-text text-lighten-3 bottomlink" href="https://github.com/epachols" target="_blank">Evan</a>
          <a class="grey-text text-lighten-3 bottomlink" href="https://github.com/rettus-code"
            target="_blank">Michael</a>
          <a class="grey-text text-lighten-3 bottomlink" href="https://github.com/nicoleremy95"
            target="_blank">Nicole</a>
          <a class="grey-text text-lighten-3 bottomlink" href="https://github.com/rickyg218" target="_blank">Ricky</a>
        </div>

        <div class="col l3 s6 flex center-align">
          <h5 class="white-text"><i class="fab fa-linkedin"></i> Linkedin</h5>
          <a class="grey-text text-lighten-3 bottomlink" href="https://www.linkedin.com/in/evan-pacholski-7910481ab/"
            target="_blank">Evan</a>
          <a class="grey-text text-lighten-3 bottomlink" href="https://www.linkedin.com/in/michael-rettus-23680b150/"
            target="_blank">Michael</a>
          <a class="grey-text text-lighten-3 bottomlink" href="https://www.linkedin.com/in/nicole-remy-190202166/"
            target="_blank">Nicole</a>
          <a class="grey-text text-lighten-3 bottomlink" href="https://www.linkedin.com/in/enrique-garcia-30353715a/"
            target="_blank">Ricky</a>
        </div>

      </div>
    </div>


    <div class="footer-copyright">
      <div class="container">
        © 2020 Copyright Text
        <span class="right">
          This site utilizes
          &nbsp;&nbsp;&nbsp;
          <a class="right" href="https://www.npmjs.com/" target="_blank">
            <i class="fab fa-npm"></i>&nbsp;&nbsp;&nbsp;
          </a>
          <a class="right" href="https://nodejs.org/en/" target="_blank">
            <i class="fab fa-node"></i>&nbsp;&nbsp;&nbsp;
          </a>
        </span>
      </div>
    </div>
  </footer>
  {{!-- jquery  --}}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  {{!-- materialize jquery  --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {{!-- linked in javascript files  --}}
  <script src="/assets/js/owner_hb.js"></script>
  <script src="/assets/js/professional_hb.js"></script>
  <script src="/assets/js/user_hb.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9k83loTwkEX28Ez2CA0pijP3HXyttslo&callback=initMap&libraries=&v=weekly"
    async defer></script>
  {{!-- javascript for side bar nav --}}
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
    });
  </script>



</body>

</html>