<h1>paws life</h1>
   <br>
   <br>
   <br>
   <br>

<h2>view current listings</h2>
<div>this will display as cards showing different current available listings</div>
   <br>
   <br>
   <br>
   <br>

<!-- sign in -->
<h2>sign in</h2>
    <form>
        <label for="username">username</label>
        <input type="text" id="username">
        <br>
        <label for="password">password</label>
        <input type="text" id="password">
        <br>
        <input type="submit" value="submit">
   </form>
   
 <!-- create account -->
<h2>create account</h2>
   <form>
      <!-- general questions for a user -->
      <br>
      <label for="first-name">first name</label>
      <input type="text" id="first-name">
      <br>
      <label for="last-name">last name</label>
      <input type="text" id="last-name">
      <br>
      <label for="new-username">username</label>
      <input type="text" id="new-username">
      <br>
      <label for="password">password</label>
      <input type="password" id="password">
      <br>
      <label for="phone">phone</label>
      <input type="number" id="phone">
      <br>
      <label for="email">email</label>
      <input type="email" id="email">
      <br>
      <input type="submit" value="submit">
   </form>
   
