<div class="container">
   <div class="row search-bar">
      <form>
        <div class="input-field">
         {{!-- search bar  --}}
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search available listings</i></label>
          <i class="material-icons">search</i>
        </div>
      </form>
   </div>
   {{!-- shows current listings for view --}}
   <div class="row current-listings">
      <h2> current listings</h2>
      <div class="row listings">
         <div class="current-listings">this will display as cards showing different current available listings</div>
      </div>
   </div>
</div>





   
 


