<div class="container">
    <div class="row">
                <!-- USER -->
        <h2>profile</h2>
            <div class="user-profile">this will contain user profile info</div>

            <br>
            <br>
            <br>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s6 offset-s8">
            <button class="professional">professional</button>
            <button class="pet-owner">pet owner</button>
        </div>
        <div class= "col s12" id="info"></div>
    </div>  
</div>
        










    




