
/* footer  */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eee;
}

main {
    flex: 1 0 auto;
}

.page-footer{
    background-color: #EAA82A;
}

/* headers */
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}

/* nav bar */
nav{
    background-color: #EAA82A;
}

/* professional page */
.service-dogs-page{
    display: none;
}
.service-cats-page{
    display: none;
}

/* owner page */
.add-dog-page{
    display: none;
}

.add-cat-page{
    display: none;
}


/* index page */
.search-bar{
    margin-top: 30px;
    margin-bottom: 30px;
}

.current-listings{
    padding-left: 0px
}


/* input boxes */
input[type="checkbox"]:checked {
    display: inline-block;
    opacity: 100;
}
input[type="checkbox"]:not(:checked) {
    display: inline-block;
    opacity: 100;
    position: absolute;
    pointer-events: none;
}

/* cards  */
.parent-user{
    display: inline-block;
    height:40vh;
    overflow:scroll;
    box-shadow: 4px 4px 6px;
    margin: 0 10px; 
}

.account-user{
    padding: 0%;
}

.professional-page{
    background-color: white;
}

.owner-page{
    background-color: white;
}

.account-profile-page{
    background-color: white;
}

/* button specific classes */
 
[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:before,
 
[type="radio"].with-gap:checked + span:after {
 
  border: 2px solid #4f90b3;
 
}
 
 
 
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
 
  background-color: #1565c0;
 
}

button #dog-search, #cat-search {
    background-color: #1565c0;
}

div #dogsearch {
    display: flex;
    padding-right: 50px;
    padding-left:75px;
    padding-bottom:20px;
    padding-top:28px;
    border-radius: 30%;
    border-left: 5px solid #1565c0;
}
div #catsearch {
    display: flex;
    padding: 25px;
    padding-right: 0px;
    border-radius: 30%;
    border-right: 5px solid #1565c0;
    padding-left:70px;
}

#petbanner {
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
    background-image: url("../images/petsquad.png");
    background-attachment: local;
    background-size: fit;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 40vh;
    border-bottom: 5 px solid #1565c0;
}

a #navphoto {
    margin-bottom:5px;
    z-index: 99;
}


.current-listings {
    background-image: url("../images/multiprints.png");
    padding-bottom: 2vh;
}
.current-listings {
    background-image: url("../images/multiprints.png");
    padding-bottom: 2vh;
}

a #navphoto {
    min-height: 100px;
    margin-bottom:5px;
}

.nav-wrapper a {
    margin-top: 25px;
}

/* div .professional-page {
 padding: 10px;
 background-image: url(".assets/images/multiprints.png");
 padding-bottom: 2vh;
}

div .owner-page {
    padding:10px;
    background-image: url(".assets/images/multiprints.png");
    padding-bottom: 2vh;
} */

button .pawbtn {
    border-radius: 50%;
}

div .petcard {
    border-right: 5px solid #1565c0;
}
