
/* footer  */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eee;
    font-size: 28px;
}

main {
    flex: 1 0 auto;
}

.page-footer{
    background-color: #EAA82A;
}

/* headers */
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}

/* nav bar */
nav{
    background-color: #EAA82A;
}

/* professional page */
.service-dogs-page{
    display: none;
}
.service-cats-page{
    display: none;
}

/* owner page */
.add-dog-page{
    display: none;
}

.add-cat-page{
    display: none;
}

.current-listings{
    padding-left: 0px
}


/* input boxes */
input[type="checkbox"]:checked {
    display: inline-block;
    opacity: 100;
}
input[type="checkbox"]:not(:checked) {
    display: inline-block;
    opacity: 100;
    position: absolute;
    pointer-events: none;
}

label {
    font-size:35px;
}
.create-account {
    font-size: 40px;
}

/* links for professional and owner pages */


/* cards  */
.parent-user{
    display: inline-block;
    height:45vh;
    padding-right:5px;
    overflow:auto;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
    border-right: 5px solid #1565c0;
    box-shadow: 4px 4px 6px;
    margin: 10px 15px; 
    background-color: #f1efe4 ;
}

div .golden {
    background-color: #8d683d;
}

.account-user{
    padding: 0%;
}

.professional-page{
    padding:10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    padding-bottom: 2vh;

}

.owner-page{
  
    padding:10px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    padding-bottom: 2vh;

}

.account-profile-page{
    background-color: white;
}

/* button specific classes */
 
[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:before,
 
[type="radio"].with-gap:checked + span:after {
 
  border: 2px solid #4f90b3;
 
}
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
 
  background-color: #1565c0;
 
}

button #dog-search, #cat-search {
    background-color: #1565c0;
}

.petflex {
    /* TODO: play around with this */
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
div #dogsearch {
    /* display: flex;
    padding-right: 10px;
    padding-left:75px;
    padding-bottom:20px;
    padding-top:28px;
    border-radius: 30%;
    border-left: 5px solid #1565c0; */
    display: flex;
    padding: 30px;
    border-radius: 30%;
    border-left: 5px solid #1565c0;
    padding-left:50px;
}
div #catsearch {
    display: flex;
    padding: 30px;
    border-radius: 30%;
    border-right: 5px solid #1565c0;
    padding-left:50px;
}

#petbanner {
    /* display:flex; */
    /* align-items: center; */
    /* flex-direction: row-reverse; */
    background-image: url("../images/petsquad.png");
    background-attachment: local;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 300px;
}

.current-listings {
    background-image: url("../images/multiprints.png");
    padding-bottom: 2vh;
}

a #navphoto {
    margin-bottom:5px;
    z-index: 99;
}

.nav-wrapper a {
    margin-top: 0px;
    padding-bottom: 5px;
}

nav .nav-extended {
    min-height: 100px;
}


button .add-cat .add-dog {
    border-radius: 50%;
    background-color: #1565c0;
}

.mostly-customized-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #1565c0; /* or add it to the track */
  }

