
/* footer  */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #eee;
    font-size: 28px;
}

main {
    flex: 1 0 auto;
}

.page-footer{
    background-color: #EAA82A;
    font-size:20px;
}

/* headers */
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}

/* nav bar */
nav{
    background-color: #EAA82A;
}

/* professional page */
.service-dogs-page{
    display: none;
}
.service-cats-page{
    display: none;
}

/* owner page */
.add-dog-page{
    display: none;
}

.add-cat-page{
    display: none;
}

.current-listings{
    padding-left: 0px
}


/* input boxes */
input[type="checkbox"]:checked {
    display: inline-block;
    opacity: 100;
}
input[type="checkbox"]:not(:checked) {
    display: inline-block;
    opacity: 100;
    position: absolute;
    pointer-events: none;
}

label {
    font-size:35px;
}
.create-account {
    font-size: 40px;
}

/* links for professional and owner pages */


/* cards  */
.parent-user{
    display: inline-block;
    height:45vh;
    padding-right:5px;
    overflow:auto;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 1%;
    border-bottom-right-radius: 1%;
    border-right: 5px solid #1565c0;
    box-shadow: 4px 4px 6px;
    margin: 10px 15px; 
    background-color: #f1efe4 ;
}

.account-user{
    padding: 0%;
}

.professional-page{
    padding:10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    padding-bottom: 2vh;

}

.owner-page{
  
    padding:10px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    padding-bottom: 2vh;

}

.account-profile-page{
    background-color: white;
}

/* button specific classes */
 
[type="radio"]:checked + span:after,
 
[type="radio"].with-gap:checked + span:before,
 
[type="radio"].with-gap:checked + span:after {
 
  border: 2px solid #4f90b3;
 
}
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
 
  background-color: #1565c0;
 
}

button #dog-search, #cat-search {
    background-color: #1565c0;
}

.petflex {
    /* TODO: play around with this */
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
div #dogsearch {
    display: flex;
    padding: 30px;
    border-radius: 30%;
    border-left: 5px solid #1565c0;
    padding-left:50px;
}
div #catsearch {
    display: flex;
    padding: 30px;
    border-radius: 30%;
    border-right: 5px solid #1565c0;
    padding-left:50px;
}

#petbanner {
    background-image: url("../images/petsquad.png");
    background-attachment: local;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 300px;
}

a #navphoto {
    margin-bottom:5px;
    z-index: 99;
}

.current-listings {
    background-image: url("../images/multiprints.png");
    padding-bottom: 2vh;
}

a #navphoto {
    margin-bottom:5px;
    z-index: 99;
}

.nav-wrapper a {
    margin-top: 0px;
    padding-bottom: 5px;
}

nav .nav-extended {
    min-height: 100px;
}

/*  */
/*  */
button .add-dog {
    border-top-right-radius: 35%;
    display: inline-block;
    border: none;
    padding: 2rem 3rem;
    margin: 0;
    text-decoration: none;
    background-color: #43200e;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button.add-dog:hover,
button.add-dog:focus {
    background: #947635;
}
    
button.add-dog:focus {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

button.add-dog:active {
    transform: scale(1.05);
}
/*  */
/*  */
button .service-dog {
    border-top-right-radius: 35%;
    display: inline-block;
    border: none;
    padding: 2rem 3rem;
    margin: 0;
    text-decoration: none;
    background-color: #43200e;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button.service-dog:hover,
button.service-dog:focus {
    background: #947635;
}
    
button.service-dog:focus {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

button.service-dog:active {
    transform: scale(1.05);
}

button .service-cat {
border-top-right-radius: 35%;
display: inline-block;
border: none;
padding: 2rem 3rem;
margin: 0;
text-decoration: none;
background-color: #b57067;
color: #ffffff;
font-size: 1rem;
cursor: pointer;
text-align: center;
transition: background 250ms ease-in-out, 
                transform 150ms ease;
-webkit-appearance: none;
-moz-appearance: none;
}
    
button.service-cat:hover,
button.service-cat:focus {
    background: #e2cdc6;
}
    
button.service-cat:focus {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

button.service-cat:active {
    transform: scale(1.05);
}

button .add-cat {
border-top-right-radius: 35%;
display: inline-block;
border: none;
padding: 2rem 3rem;
margin: 0;
text-decoration: none;
background: #b57067;
color: #ffffff;
font-size: 1rem;
cursor: pointer;
text-align: center;
transition: background 250ms ease-in-out, 
                transform 150ms ease;
-webkit-appearance: none;
-moz-appearance: none;
}
    
button.add-cat:hover,
button.add-cat:focus {
    background: #e2cdc6;
}
    
button.add-cat:focus {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

button.add-cat:active {
    transform: scale(1.05);
}

.mostly-customized-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #1565c0; /* or add it to the track */
  }

  #mapWindow{
      height: 400px;
  }
/* side nav bar */
.side-nav-menu{

color: #4a6690;
}

.side-nav-menu a:hover{
background-color: yellow;
}
